<div class="pagina-cadastro">

    <!-- LADO ESQUERDO -->

    <div class="lado-imagem">

        <div class="overlay"></div>

        <div class="texto-imagem">

            <span>
                POWER STORE
            </span>

            <h1>
                Evolua sua rotina fitness.
            </h1>

            <p>
                Produtos premium para foco,
                performance e resultados reais.
            </p>

        </div>

    </div>

    <!-- LADO DIREITO -->

    <div class="lado-formulario">

        <div class="topo-formulario">

            <h2>
                Criar conta
            </h2>

            <p>
                Cadastre-se para acessar a plataforma.
            </p>

        </div>

        <form>

            <label>Nome</label>

            <input
                class="input-simples"
                type="text"
                placeholder="Digite seu nome"
                [(ngModel)]="usuario.nome"
                name="nome">

            <label>Email</label>

            <input
                class="input-simples"
                type="email"
                placeholder="Digite seu email"
                [(ngModel)]="usuario.email"
                name="email">

            <label>Telefone</label>

            <input
                class="input-simples"
                type="text"
                placeholder="(11) 99999-9999"
                [(ngModel)]="usuario.telefone"
                name="telefone">

            <label>Senha</label>

            <input
                class="input-simples"
                type="password"
                placeholder="Digite sua senha"
                [(ngModel)]="usuario.senha"
                name="senha">

            <button
                class="btn-cadastro"
                (click)="submeter()">

                Criar conta

            </button>

                 <div class="extra-login">

                <span>
                    Já possui uma conta?
                </span>

                <a routerLink="/login-usuario">
                    Entrar
                </a>

            </div>
        </form>

    </div>

</div>