<div class="pagina-perfil">

    <div class="perfil-container">

        <div class="menu-perfil">

            <div class="avatar">U</div>

            <h2>Meu Perfil</h2>
            <p>Cliente Power Store</p>

            <a class="ativo">Meus dados</a>
            <a>Meus pedidos</a>
            <a>Endereços</a>
            <a class="sair">Sair da conta</a>

        </div>

        <div class="conteudo-perfil">

            <h1>Meus dados</h1>
            <p class="subtitulo">Visualize e edite suas informações.</p>

            <div class="cards-resumo">

                <div class="card-info">
                    <span>Pedidos</span>
                    <strong>3</strong>
                </div>


                <div class="card-info">
                    <span>Favoritos</span>
                    <strong>5</strong>
                </div>

            </div>

            <form>

                <div class="linha">
                    <div class="campo">
                        <label>Nome</label>
                        <input type="text" placeholder="Digite seu nome">
                    </div>

                    <div class="campo">
                        <label>Email</label>
                        <input type="email" placeholder="Digite seu email">
                    </div>
                </div>

                <div class="linha">
                    <div class="campo">
                        <label>Telefone</label>
                        <input type="text" placeholder="(11) 99999-9999">
                    </div>

                    <div class="campo">
                        <label>CPF</label>
                        <input type="text" placeholder="000.000.000-00">
                    </div>
                </div>

                <button class="btn-salvar">Salvar alterações</button>

            </form>

        </div>

    </div>

</div>