<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="top-header">

  <div class="top-header-container">

    <span>
      Frete grátis acima de R$399
    </span>

  </div>

</div>

<header class="header">

  <div class="header-container">

    <a class="logo" routerLink="/">
      <span>POWER</span>
      <small>SUPLEMENTOS</small>
    </a>

    <div class="busca-box">

      <input
        type="text"
        placeholder="Buscar whey, creatina..."
      >

      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </div>

    <div class="acoes-header">

      <button class="btn-login" routerLink="/login-usuario">
        👤
      </button>

      <button class="btn-carrinho">
        🛒
      </button>

    </div>

  </div>

</header>

<nav class="menu">

  <ul>

    @for (item of itensMenu; track item) {

      <li>

        <a routerLink="{{item.link}}">
          {{ item.label }}
        </a>

        @if(item.label === 'Produtos'){

          <ul class="submenu">

            @for(subitem of itensSubmenu; track subitem){

              <li class="submenu-hover">
                <a routerLink="{{subitem.link}}">
                  {{ subitem.label }}
                </a>
              </li>

            }

          </ul>

        }

      </li>

    }

  </ul>

</nav>