.contato {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.banner-contato {
  height: 330px;
  background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)),
              url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.banner-contato h1 {
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 4px;
}

.banner-contato p {
  font-size: 20px;
  margin-top: 12px;
}

.area-contato {
  padding: 70px 0;
}

.info-contato {
  padding: 30px;
}

.info-contato span {
  color: #f05a00;
  font-weight: bold;
  letter-spacing: 2px;
}

.info-contato h2 {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
  color: #111;
}

.info-contato p {
  color: #555;
  font-size: 16px;
}

.info-contato h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  color: #111;
}

.form-contato {
  background-color: #eeeeee;
  padding: 40px;
  border-radius: 18px;
}

.form-contato h3 {
  font-size: 26px;
  font-weight: bold;
  color: #111;
}

.form-contato p {
  color: #666;
  margin-bottom: 25px;
}

.form-contato input,
.form-contato textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
  padding: 13px 5px;
  margin-bottom: 15px;
  outline: none;
}

.form-contato textarea {
  height: 100px;
  resize: none;
}

.form-contato button {
  background-color: #111;
  color: white;
  border: none;
  padding: 13px 28px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.mapa-fake {
  height: 230px;
  background-color: #ddd;
  border-radius: 14px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #555;
  font-size: 20px;
  overflow: hidden;
}

.mapa-fake::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 140%;
  background-image:
    linear-gradient(#c7c7c7 1px, transparent 1px),
    linear-gradient(90deg, #c7c7c7 1px, transparent 1px);
  background-size: 45px 45px;
  opacity: 0.8;
}

.mapa-fake p,
.pin {
  position: relative;
  z-index: 1;
}

.pin {
  font-size: 35px;
  margin-right: 10px;
}