<div class="contato">

  <section class="banner-contato">
    <div class="container">
      <h1>FALE CONOSCO</h1>
      <p>Estamos prontos para ajudar você a escolher o melhor suplemento.</p>
    </div>
  </section>

  <section class="area-contato">
    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <div class="info-contato">
            <span>POWER SUPLEMENTOS</span>
            <h2>Estamos sempre prontos para ajudar você</h2>
            <p>
              Entre em contato para tirar dúvidas sobre produtos, pedidos,
              entregas ou cadastro no sistema.
            </p>

            <div class="row">
              <div class="col-md-6">
                <h4>Telefone</h4>
                <p>(11) 99999-9999</p>
              </div>

              <div class="col-md-6">
                <h4>Localização</h4>
                <p>São Paulo - SP</p>
              </div>

              <div class="col-md-6">
                <h4>Email</h4>
                <p>contato&#64;power.com</p>
              </div>

              <div class="col-md-6">
                <h4>Redes sociais</h4>
                <p>Instagram • WhatsApp</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-contato">
            <h3>Entre em contato</h3>
            <p>Preencha os campos abaixo e retornaremos em breve.</p>

            <label for="input-nome">Nome</label><br>
            <input class="input-simples" id="input-nome" name="input-nome" type="test" [(ngModel)]="contatos.nome"/>

            <label for="input-email">Email</label><br>
            <input class="input-simples" id="input-email" name="input-email" type="test" [(ngModel)]="contatos.email"/>

             <label for="input-assunto">Assunto</label><br>
             <select class="input-simples" id="input-assunto" name="input-assunto" [(ngModel)]="contatos.assunto">

                  <option value="">Selecione</option>

                  <option value="Dúvida sobre produto">
                      Dúvida sobre produto
                  </option>

                  <option value="Pedido atrasado">
                      Pedido atrasado
                  </option>

                  <option value="Troca ou devolução">
                      Troca ou devolução
                  </option>

                  <option value="Problema no pagamento">
                      Problema no pagamento
                  </option>


                  <option value="Outros">
                      Outros
                  </option>

              </select>

            <label for="input-mensagem">Mensagem</label><br>
            <textarea class="input-mensagem" id="input-mensagem" name="input-mensagem" placeholder="Digite os detalhes do produto" rows="5" [(ngModel)]="contatos.mensagem"></textarea>

       

        <button class="input-submeter" (click)="submeter()" >
            Enviar
        </button>
          </div>
        </div>

      </div>

      <div class="mapa">

  <iframe
    src="https://www.google.com/maps?q=Senac+Santo+Amaro&output=embed"
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy">
  </iframe>

</div>

    </div>
  </section>

</div>