<div class="detalhe-container">

    <div class="imagem-produto">
        <img [src]="produto.imagem">
    </div>

    <div class="info-produto">
        <span class="categoria">{{ produto.categoria }}</span>

        <h1>{{ produto.nome }}</h1>

        <div class="preco">R$ {{ produto.preco }}</div>

        <div class="descricao">
            <h3>Sobre o produto</h3>
            <p>{{ produto.detalhes }}</p>
        </div>

        @if(produto.estoque <= 5){
            <div class="alerta-estoque">
                Restam apenas {{ produto.estoque }} unidades
            </div>
        }

        <button class="btn-comprar" (click)="adicionarCarrinho()">
            COMPRAR AGORA
        </button>


        <div class="box-frete">
            <p class="resultado-frete" >
                Frete padrão: <strong>19,90</strong>
            </p>
        </div>
    </div>
</div>