<div class="content-container">

    <h2>Lista de Mensagens</h2>

    <table>

        <thead>

            <tr>

                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Assunto</th>
                <th>Mensagem</th>
                <th>Ações</th>

            </tr>

        </thead>

        <tbody>

            @for (contatos of listaContatos; track contatos){

                <tr>

                    <td>#{{contatos.id}}</td>

                    <td>{{contatos.nome}}</td>

                    <td>{{contatos.email}}</td>

                    <td>{{contatos.assunto}}</td>

                    <td>{{contatos.mensagem}}</td>

                    <td>

                        <a
                            class="btn-editar"
                            [href]="'mailto:' + contatos.email + '?subject=Resposta Power Suplementos&body=Olá, tudo bem?'">

                            Responder

                        </a>

                        <button
                            class="btn-excluir"
                            (click)="excluir(contatos.id!)">

                            Excluir

                        </button>

                    </td>

                </tr>

            }

        </tbody>

    </table>

</div>