<!-- Alteração: pra poder seguir com a página de admin sem o header e footer, criamos uma condição. -->

<!-- @if(router.url !== '/admin' && router.url !== '/admin/incluir' && router.url !== '/admin/listagem' && router.url !== '/admin/alterar' && router.url !== '/admin/produtos/listagem' && router.url !== '/admin/produtos/incluir'){-->


@if(!router.url.includes('/admin')){
    <app-header></app-header> 
}

<router-outlet></router-outlet>



@if(!router.url.includes('/admin')){
  <app-footer></app-footer>
}