<section class="produtos">
  <h2>PRODUTOS EM DESTAQUE</h2>

  <div class="lista-produtos">
    @for(produto of listaProdutos; track produto) {
      @if(produto.status !== 'Inativo' && produto.destaque == 'Sim') {
        <app-card
          [id]="produto.id"
          [imageUrl]="produto.imagem"
          [nome]="produto.nome"
          [categoria]="produto.categoria"
          [preco]="produto.preco"
          [estoque]="produto.estoque"
          [detalhes]="produto.detalhes"
          [destaque]="produto.destaque"
          [status]="produto.status">
        </app-card>
      }
    }
  </div>
</section>