<div class="content-container">

    <h2>Lista de Usuários</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @for (usuario of listaUsuario; track usuario){
                <tr>
                    <td>#{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefone}}</td>
                    <td>{{usuario.status}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>