body{
    background-color: #f5f7fb;
}

.menu-admin{
    width: 250px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ececec;
    position: fixed;
    left: 0;
    top: 0;
    padding: 35px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-admin{
    margin-bottom: 40px;
}

.logo-texto h2{
    margin: 0;
    font-size: 30px;
    letter-spacing: 4px;
    color: #111827;
}

.logo-texto span{
    color: #7c3aed;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: bold;
}

.lista-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-menu a{
    height: 52px;
    padding: 0 18px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #4b5563;
    font-weight: 600;
    transition: 0.3s;
}

.item-menu i{
    font-size: 7px;
    color: #7c3aed;
}

.item-menu a:hover{
    background-color: #f3f0ff;
    color: #7c3aed;
}

.rodape-menu{
    display: flex;
    justify-content: center;
}

.rodape-menu a{
    width: 45px;
    height: 45px;
    border-radius: 14px;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111827;
    text-decoration: none;
    transition: 0.3s;
}

.rodape-menu a:hover{
    background-color: #7c3aed;
    color: white;
}

.botao-menu{
    position: absolute;
    top: 45px;
    right: -16px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c3aed;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}