<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="menu-admin" id="menuAdmin">

    <div class="botao-menu">
        <button (click)="fecharMenu()" id="fechar" style="background: transparent; border: none; color: blueviolet;">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button (click)="abrirMenu()" id="abrir" style="display: none; background: transparent; border: none; color: blueviolet;">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>

    <div class="logo-admin" id="controlarLogo" style="display: block;">
        <div class="logo-texto">
            <h2>POWER</h2>
            <span>SUPLEMENTOS</span>
        </div>
    </div>

    <ul class="lista-menu" id="controlarLista" style="display: block;">
        @for (item of itensMenu; track item) {
            <li class="item-menu">
                <a routerLink="{{item.link}}">
                    <i class="fa-solid fa-circle"></i>{{ item.label }}
                </a>
            </li>
        }
    </ul>

    <div class="rodape-menu" id="controlarFooter" style="display: block;">
        <a routerLink="/"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

</div>