<div class="pagina-produtos">

    <div class="topo-produtos">
        <span>POWER STORE</span>
        <h1>Equipamentos</h1>
        <p>Explore nossa linha completa de suplementos.</p>
    </div>

    <div class="card-wrapper">

        @for(produto of listaProdutos; track produto){

            @if(produto.status !== 'Inativo' && produto.categoria == 'Equipamentos'){

                <app-card
                    [id]="produto.id"
                    [imageUrl]="produto.imagem"
                    [nome]="produto.nome"
                    [preco]="produto.preco"
                    [categoria]="produto.categoria"
                    [estoque]="produto.estoque"
                    [status]="produto.status"
                    [detalhes]="produto.detalhes">
                </app-card>

            }

        }

    </div>

</div>