<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h2 class="logo-footer">
                    POWER <span>SUPLEMENTOS</span>
                </h2>

                <p>
                    Suplementos para quem busca evolução,
                    performance e qualidade.
                </p>
            </div>

            <div class="col-md-4">
                <h4>Links rápidos</h4>

                <ul>
                    <li routerLink="/">Home</li>
                    <li routerLink="/sobre">Sobre</li>
                    <li routerLink="/contatos">Contato</li>
                    <li routerLink="/pessoa-login">Login</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Contato</h4>

                <p>São Paulo - SP</p>
                <p>contato&#64;power.com</p>
                <p>(11) 99999-9999</p>
            </div>

        </div>

        <hr>

        <div class="footer-bottom">
            <p>2026 - Power Suplementos</p>
        </div>

    </div>

</footer>