<footer class="footer">

    <div class="footer-container">

        <div class="footer-topo">

            <div class="footer-logo">

                <h2>
                    POWER
                </h2>

                <span>
                    suplementos
                </span>

            </div>

            <p>
                Performance, energia e evolução para sua rotina.
            </p>

        </div>

        <div class="footer-links">

            <a routerLink="/">
                Home
            </a>

            <a routerLink="/sobre">
                Sobre
            </a>

            <a routerLink="/contatos">
                Contato
            </a>

            <a routerLink="/produtos">
                Produtos
            </a>

        </div>

        <div class="footer-bottom">

            <span><a routerLink="/login" style="text-decoration: none; color: #000;">
                © 2026 Power Suplementos
            </a></span>

            <div class="footer-social">

                <a href="">
                    Instagram
                </a>

                <a href="">
                    TikTok
                </a>

                <a href="">
                    WhatsApp
                </a>

            </div>

        </div>

    </div>

</footer>