<div class="pagina-login">

    <!-- FORMULÁRIO -->

    <div class="lado-formulario">

        <div class="topo-formulario">

            <span class="tag-login">
                POWER STORE
            </span>

            <h2>
                Entrar
            </h2>

            <p>
                Faça login para acessar sua conta.
            </p>

        </div>

        <form>

            <label>Email</label>

            <input
                class="input-simples"
                type="email"
                placeholder="Digite seu email"
                [(ngModel)]="login"
                name="email">

            <label>Senha</label>

            <input
                class="input-simples"
                type="password"
                placeholder="Digite sua senha"
                [(ngModel)]="senha"
                name="senha">

            <button
                class="btn-login"
                (click)="onBotaoClicado()">

                Entrar

            </button>

            <div class="extra-login">

                <span>
                    Não possui conta?
                </span>

                <a routerLink="/cadastro-usuario">
                    Criar conta
                </a>

            </div>

        </form>

    </div>

    <!-- IMAGEM -->

    <div class="lado-imagem">

        <div class="overlay"></div>

        <div class="texto-imagem">

            <span>
                POWER SUPLEMENTOS
            </span>

            <h1>
                Sua evolução começa aqui.
            </h1>

            <p>
                Acesse sua conta e continue
                buscando performance máxima.
            </p>

        </div>

    </div>

</div>